<h1>LINE</h1>
<%= current_user.email %><br>
<%= @room.name %>
<div id="messages" data-room_id="<%= @room.id %>">
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
